@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg: #E9E9E9;
    --primary-text: #424242;
    --accent-color: #FF3F3C;
}

body {
    background: var(--main-bg);
    font-family: "Inter", sans-serif;
    color: var(--primary-text);
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url('/images/polaroid.png') no-repeat center 160px;
    margin: 0 auto;
    max-width: 800px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 120px;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
    padding-top: 60px;
}

.details {
    text-align: center;
    padding-top: 50px;
}

.details h3 {
    text-align: center; 
    padding-top: 20px;
    font-size: 40px;
}

.details ul {
    padding: 0;
    display: inline-block;
    text-align: left;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding-left: 60px;
    padding-top: 40px;
    background-position: left center;
    background-repeat: no-repeat;
    align-items: center;
    min-height: 50px;
}

.details ul li.qr {
    background: url('/images/qrcode-solid.png') no-repeat left center;
}

.details ul li.wifi {
    background: url('/images/Vector.png') no-repeat left center;
}

.details ul li.cloud {
    background: url('/images/cloud-arrow-up-solid.png') no-repeat left center;
}

.details ul li.photo {
    background: url('/images/photo-film-solid.png') no-repeat left center;
}

h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.cta {
    text-align: center;
    margin-top: 40px;
}

.cta h3 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 15px;
}

.cta form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 475px;
    background: #D9D9D9;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.email-input {
    flex: 1;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.submit-btn {
    cursor: pointer;
    background: var(--accent-color);
    color: rgb(240, 240, 240);
    padding: 12px 12px;
    font-size: 12px;
    font-weight: 820;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
}
